@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&display=swap');

/* font class 설정 */
.do-hyeon-regular {
    font-family: "Do Hyeon", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal;
}

.basic-thin {
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;
}

.basic-medium {
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

.basic-bold {
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
}

/* 헤더 고정 크기 설정 */
#hd, .navbar {
    height: 70px;
}

/* 헤더 고정 */
.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* 모바일 기본 스타일 */
.navbar {
    padding: 10px;
}

.offcanvas {
    width: 250px;
    transition: transform 0.3s ease;
}

.offcanvas-body {
    padding: 20px;
}

.navbar-toggler {
    border-color: #fff;
}

.nav-link {
    font-size: 14px;
    padding: 10px 5px;
}
/* 폰트 적용 */
span {
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 300 !important;
    font-style: normal;
}

input, tr, select, option, a, p {
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400 !important;
    font-style: normal;
}

header, th {
    font-family: "Noto Sans KR", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
}

h2, button span {
    font-family: "Do Hyeon", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal;
}

.content {
    flex-grow: 1; /* 빈 공간을 채우기 위한 메인 콘텐츠 */
}

.star {
    color: #ff3333;
}

.noneBorder {
    border: none !important;
    font-size: 14px !important;
}

.page-link {
    color: var(--bs-gray-dark) !important;
}

/* footer.jsp 설정 */
.footer {
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
}

.div_footer {
    width: 100%;
    position: relative;
    margin: 0 auto;
    bottom: 0;
}

.div_footer .foot_txts > address {
    color: #fff !important;
}

.div_footer .foot_txts > address a {
    display: inline;
    color: #fff !important;
}

.foot_txts a {
    color: #ccc;
    text-decoration: none;
}

.foot_txts a:hover {
    text-decoration: underline;
}

.div_footer .foot_txts > .copyright {
    width: 100%;
    color: #fff;
    text-align: center;
    margin: 5px 0 0 0;
}

/* PC 화면 스타일 */
@media (min-width: 768px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .offcanvas {
        position: relative;
        width: 280px;
        border-right: 1px solid #e9ecef;
        transform: translateX(0);
        visibility: visible;
        transition: none;
    }

    .offcanvas-body {
        padding: 20px;
    }

    .nav-link {
        font-size: 16px;
        padding: 10px 15px;
    }

    .offcanvas.show {
        transform: none;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 20px 40px;
        font-size: 14px;
    }

    .foot_logo {
        width: 15%;
        text-align: right;
        float: left;
        color: #fff;
        border-right: 1px solid #fff;
        margin: 25px 0;
        font-size: 15px;
        padding: 0 25px 10px 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .foot_txts {
        width: 85%;
        float: left;
        overflow: hidden;
        margin: 20px auto;
        text-align: center;
        position: relative;
        font-size: 13px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* Mobile 화면 스타일 */
@media (max-width: 767px) {
    .foot_logo {
        width: 100%;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid #fff;
        margin: 5px 0;
        font-size: 13px;
        padding: 5px 0;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .foot_txts {
        width: 100%;
        margin: 5px auto;
        text-align: center;
        position: relative;
        font-size: 11px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}
